.container {
  max-width: 400px;
  margin: 0 auto 0 auto;
  box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
  
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  overflow: scroll;
  overflow-y: hidden;

}
::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(62, 45, 45);
  border-radius: 10px;
}
.titleHeading {
  text-align: center;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  border: 0.5px solid #514e4e;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: rgb(62, 62, 189);
  color: white;
}

.button:hover {
  background-color: #3c4330;
  color: white;
  transition: 0.5s ease-in-out;
}